

#proyek {
    width: 100%;
    height: 30vh;
    /* background: linear-gradient(to right, red, yellow); */
    /* background: linear-gradient(45deg, rgba(29, 224, 153, 0.8), rgba(29, 200, 205, 0.8)) center top no-repeat; */
    background: linear-gradient(45deg, rgba(155, 89, 182, 0.8), rgba(142, 68, 173, 0.8)) center top no-repeat;
    background-size: cover;
    position: relative;
  }
  
#proyek .custom-table {
        background-color: rgb(255, 255, 255,.8);
}
  
  @media (min-width: 1024px) {
    #proyek {
      background-attachment: fixed;
    }
  }
  
  #proyek .proyek-text {
    position: absolute;
    left: 0;
    top: 0px;
    right: 0;
    height: calc(50% - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    display: flex;
    height: 40vh;          /* Full viewport height */
    text-align: center;   
  }
  
  #proyek h2 {
    margin: 30px 0 10px 0;
    padding: 0 15px;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    #proyek h2 {
      font-size: 28px;
      line-height: 36px;
    }
  }
  
  #proyek p {
    color: #fff;
    margin-bottom: 20px;
    padding: 0 15px;
    font-size: 24px;
  }
  
  @media (max-width: 768px) {
    #proyek p {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }
  
  #proyek .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
  }
  
  #proyek .btn-get-started:hover {
    color:var(--primary-color);
    background: #fff;
    color: var(--primary-color);
  }
  
  #proyek .product-screens {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 50%;
  }
  
  #proyek .product-screens img {
    box-shadow: 0px -2px 19px 4px rgba(0, 0, 0, 0.29);
  }
  
  #proyek .product-screens .product-screen-1 {
    position: absolute;
    z-index: 30;
    left: calc(50% + 54px);
    bottom: 0;
    top: 30px;
  }
  
  #proyek .product-screens .product-screen-2 {
    position: absolute;
    z-index: 20;
    left: calc(50% - 154px);
    bottom: 0;
    top: 90px;
  }
  
  #proyek .product-screens .product-screen-3 {
    position: absolute;
    z-index: 10;
    left: calc(50% - 374px);
    bottom: 0;
    top: 150px;
  }
  
  @media (max-width: 767px) {
    #proyek .product-screens .product-screen-1 {
      position: static;
      padding-top: 30px;
    }
    #proyek .product-screens .product-screen-2, #proyek .product-screens .product-screen-3 {
      display: none;
    }
  }
  