body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    background: linear-gradient(45deg, #1de099, var(--primary-gradient));
    color: white;
    text-align: center;
    padding: 20px 0;
}

.content {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

.content h1 {
    color: #00bfa5;
    margin-bottom: 20px;
}
.content h2 {
    color: #00bfa5;
    margin-bottom: 20px;
}
.content h3 {
    color: #00bfa5;
    margin-bottom: 20px;
}

.content p {
    line-height: 1.6;
}

.team-section {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.team-member {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    width: 220px;
    height: 280px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.team-member img {
    border-radius: 8px;
    width: 210px;
    height: 180px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.team-member:hover img {
    transform: scale(1.1);
}

.team-member h2 {
    font-size: medium;
    margin: 10px 0;
    color: #808080;
    transition: color 0.3s ease;
}

.team-member h3 {
    font-size: medium;
    margin: 10px 0;
    color: #808080;
    transition: color 0.3s ease;
}


.team-member p {
    color: #808080;
    font-style: italic;
    transition: color 0.3s ease;
}

.team-member:hover p {
    color: #333;
}

.animate-heading {
    text-align: center;
    opacity: 0;
    transform: translateX(100%);
    animation: slideInHeading 1s ease forwards;
}

/* Animasi ketika elemen masuk viewport */
@keyframes slideInHeading {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Menerapkan animasi saat elemen masuk viewport */
.animate-subheading {
    text-align: center;
    opacity: 0;
    transform: translateX(100%);
    animation: slideInSubheading 1s ease forwards;
}

.animate-subheading p {
    color: #00bfa5;
    margin-bottom: 20px;
}
@keyframes slideInSubheading {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@media (max-width: 768px){
.back-home {
    position: absolute;
    top: 55px;
    left: 10px;
    font-size: 12px;
}
}
@media (min-width: 769px){

.back-home {
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 16px;
}
}
.back-home a {
    background-attachment: #00bfa5;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    /* transition: background-color 0.5s; */
     transition: all 0.3s ease-in-out;

}

.back-home a:hover {
    /* background-color: #008e7a; */
    color: #008e7a;

}

.multi{
    position: absolute;
    top: 25px;
    right : 20px;
}
.multi a {
    /* background-attachment: #00bfa5; */
    /* color: white; */
    /* padding: 10px 20px;
    border-radius: 8px; */
    /* text-decoration: none;
    font-size: 16px;
    transition: background-color 0.5s; */
    transition: all 0.3s ease-in-out;

}


  
@media (max-width: 768px) {
    #langButton {
      position:absolute;
      right:0px;
      /* background-color:#1dc8cd;
      color:white; */
      margin-bottom:10px; 
      margin-top:-1px;
        background-color: var(--primary-color);   /* #8e44ad */
        color: #fff;
        border: none;
        transition: all 0.3s ease-in-out;
        /* 
      font-size: 18px !important;
      padding: 10px 20px !important;
 */
    }
  }
  @media (min-width: 769px) {

#langButton {
  position:absolute;
  right:60px;
  /* background-color:#1dc8cd; */
  /* color:white; */
  margin-bottom:10px; 
  margin-top:-10px;
  background-color: var(--primary-color);   /* #8e44ad */
  color: #fff;
  border: none;
  transition: all 0.3s ease-in-out;  /* 
    font-size: 18px !important;
      padding: 10px 20px !important; 
 */
    }
  }
